{{>licenseInfo}}

{{#operations}}/*
* {{classname}}Impl.h
*
* {{description}}
*/

#ifndef {{classnameSnakeUpperCase}}_IMPL_H_
#define {{classnameSnakeUpperCase}}_IMPL_H_

{{{defaultInclude}}}

#include <memory>
#include <nghttp2/asio_http2_server.h>
//#include "{{classname}}.h"

{{#imports}}{{{import}}}
{{/imports}}

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

{{#hasModelImport}}
using namespace {{modelNamespace}};{{/hasModelImport}}
using namespace nghttp2::asio_http2::server;
class {{classname}}Impl {
public:
    {{classname}}Impl(){};
    ~{{classname}}Impl() {}

    {{#operation}}
   

    static void {{operationIdSnakeCase}}({{#allParams}}const {{{dataType}}} &{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}{{#hasParams}}, {{/hasParams}}request &requestIn,response &responseIn)
    {
        // not implement
           responseIn.write_head(400);
          responseIn.end("this API is not impliment\n");
    }
    {{/operation}}

};

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}

{{/operations}}


#endif